.paperStyle{
    padding :30px 20px;
    height : 90vh;
    width:400;
    margin:20px auto;
    
    
}
.paperStyle2{
    
    width:500px;
    margin:20px auto
}
.widthch{width:250px}
.label{
    
    font-size:14px;
    font-weight:500;
    color:grey;
   
  
}
.halfline{
    width:200px;
    align-items:center;
}
.forgotpw{
    color: primary;
    font-size: 14px;
}
.fbColor{
    background-color:darkBlue;
    color:white;
}
.headerStyle{
    color:grey;
    font-size:24px;
}
.stylesPro {
   font-size:12px;
    color:grey;
}
